/*prevent border on links*/
a {
    outline: none;
}

/* Pretty animations */
* {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
#tumblr_controls {
    display: none !important;
}
html {
    background: transparent url("footer_lodyas.png") repeat scroll 0% 0%;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    min-width:420px;
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}
.details a {
    text-decoration: none;
    font-style: italic;
    color: #B9B9B9;
}
.details a:hover {
    color:#5E7687;
    text-decoration: none;
}
.details {
    max-width: auto;
    column-fill: auto;
    -webkit-column-fill: auto;
    -moz-column-fill: auto;
    -o-column-fill: auto;
}
.icon {
    text-decoration: none;
    color: #B9B9B9;
    font-size: 30px;
}
.icon:hover {
    color: #5E7687;
}
#sidebar {
    background-color: #1D1D1D;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
}
.sidebarLinks {
    list-style-type: none;
    position: relative;
    top: -20px;
}
.sidebarLinks li a {
    text-align: center;
    display: block;
    position: relative;
    left: -50px;
    text-decoration: none;
    background-color: #1D1D1D;
}
.sidebarLinks a:hover {
    background-color: #111;
}
.sidebarLinks a:hover> .icon {
    color: #5E7687;
}
.sidebarText {
    text-decoration: none;
    color: #B9B9B9;
    line-height: 40px;
    margin-left: 10px;
}
.generalInfo {
    margin-top: -60px;
}
.social {
    padding-bottom: 25px;
    width: 350px;
}
.aboutme {
    padding-bottom: 25px;
}
h1 {
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 100px;
    margin-top: 20px;
}
h2 {
    color: white;
    font-size: 30px;
}
h3,
h3 a {
    color: white;
    font-size: 16px;
    margin-top: -10px;
}
h4 {
    font-size: 20px;
}
h5 {
    margin-left: 10px;
    font-size: 18px;
}
p {
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 20px;
}

/*Responsive Sidebar*/
@media (min-width:0px) {

    /*.sidebarLinks { top: -32px; }*/
    #sidebar,
    .sidebarLinks,
    .sidebarText {
        width: 50px;
    }
    .profile {
        height: 50px;
    }
    .profile img {
        height: 50px;
        width: 50px;
    }
    .icon {
        font-size: 22px;
    }
    .content {
        margin-left: 60px;
    }

    /*.icon li a { width: 50px; height: 50px; line-height: 50px; }*/
    .sidebarLinks li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .details {
        -webkit-column-count: 1;
        -webkit-column-gap: 5px;
        -moz-column-count: 1;
        -moz-column-gap: 5px;
        column-count: 1;
        column-gap: 5px;  /*      max-height: 700px;*/
    }
    .social {
        margin: auto;
    }
}
@media (min-width:800px) {

    /*.sidebarLinks { top: -12px; }*/
    #sidebar,
    .sidebarLinks,
    .sidebarText {
        width: 70px;
    }
    .profile {
        height: 70px;
    }
    .profile img {
        height: 70px;
        width: 70px;
    }
    .icon {
        font-size: 32px;
    }

    /*.icon li a { width: 70px; height: 70px; line-height: 70px; }*/
    .sidebarLinks li a {
        width: 70px;
        height: 70px;
        line-height: 70px;
    }
    .social {
        margin: auto;
    }
    .content {
        margin-left: 90px;
    }
}
@media (min-width:1150px) {
    .details {
        -webkit-column-count: 2;
        -webkit-column-gap: 5px;
        -moz-column-count: 2;
        -moz-column-gap: 5px;
        column-count: 2;
        column-gap: 5px;
        max-height: 700px;
    }
}
